html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

.App {
	margin: 0;
	padding: 0;
	height: 100%;
}

main {
	height: auto;
	background-color: rgb(47, 50, 53);
}

#logout::before {
	content: attr(text);
}

#logout:hover::before {
	content: attr(hover-text);
}

.divider:after, .divider:before {
	content: "";
	flex: 1;
	height: 1px;
	background: --;
}